@model IEnumerable<WDPAssignment1.Models.FeedbackForm>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @{ 
        if(User.IsInRole("User") || User.IsInRole("Manager"))
        {
            <a class="btnlink btnlink1" asp-action="Create">Submit Your Feedback</a>
        }
        else
        {
            <p>Please <a href="/Account/Login">log in</a> or <a href="/Account/Register">create an account</a> to post your feedback on this page.</p>
        }
    }
</p> 

@foreach (var item in Model)
{
    <h3>@Html.DisplayFor(modelItem => item.Heading)</h3>
    <h4>@@ @Html.DisplayFor(modelItem => item.Technology)</h4>
    <ul style="list-style-type:none">
        <li>
            @{
                for (int i = 0; i < int.Parse(item.Rating); i++)
                {
                    <span style ="color:gold;">&#x2605;</span> 
                }
                for (int i = 0; i < 5 - int.Parse(item.Rating); i++)
                {
                    <span>&#x2606;</span> 
                }
                }
        </li>
        <li>@Html.DisplayFor(modelItem => item.Feedback)</li>
        <li>Feedback by <b>@Html.DisplayFor(modelItem => item.UserName)</b> at <b>@Html.DisplayFor(modelItem => item.Date)</b> </li>
        <li>
            <a class="btnlink" asp-action="Details" asp-route-id="@item.Id">Details</a>
            @{
                if (User.IsInRole("User")||User.IsInRole("Manager"))
                {
                    <a class="btnlink btnlink3" asp-action="IncreaseAgree" asp-route-id="@item.Id">Agree(@item.Agree.ToString())</a>
                    <a class="btnlink btnlink2" asp-action="IncreaseDisagree" asp-route-id="@item.Id">Disagree(@item.Disagree.ToString())</a>
                }
            }
            @{
                if (User.IsInRole("Manager"))
                {
                    
                    <a class="btnlink" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    
                    <a class="btnlink" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }

            }

        </li>
    </ul>
    <hr />
}
