@model IEnumerable<WDPAssignment1.Models.FeedbackForm>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    <h3>@Html.DisplayFor(modelItem => item.Heading)</h3>
    <h4>@@ @Html.DisplayFor(modelItem => item.Technology)</h4>
    <ul style="list-style-type:none">
        <li>
            @{
                for (int i = 0; i < int.Parse(item.Rating); i++)
                {
                    <span style ="color:gold;">&#x2605;</span> 
                }
                for (int i = 0; i < 5 - int.Parse(item.Rating); i++)
                {
                    <span>&#x2606;</span> 
                }
                }
        </li>
        <li>@Html.DisplayFor(modelItem => item.Feedback)</li>
        <li>Feedback by @Html.DisplayFor(modelItem => item.UserName) at @Html.DisplayFor(modelItem => item.Date)</li>
        <li>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            @{
                if (User.IsInRole("User")||User.IsInRole("Manager"))
                {
                    <a asp-action="IncreaseAgree" asp-route-id="@item.Id">Like(@item.Agree.ToString())</a>
                    <a asp-action="IncreaseDisagree" asp-route-id="@item.Id">Dislike(@item.Disagree.ToString())</a>
                }
            }
            @{
                if (User.IsInRole("Manager"))
                {
                    
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }

            }

        </li>
    </ul>
}
